
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: rgb(35, 55, 109) !important;
}

header nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  position: relative;
  z-index: 2;
}

header nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

header nav a:hover {
  text-decoration: underline;
}

nav ul li {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  padding: 10px;
  color: #000;
  display: block;
}

nav ul li .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f0f0f0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 3;
}

nav ul li:hover .submenu {
  display: block;
}

nav ul li .submenu li {
  padding: 10px;
}

nav ul li .submenu li a {
  color: #000;
}

.carousel-inner img {
  width: 100%;
  height: 85vh;
  object-fit: cover;
}

.carousel {
  height: 85vh;
  z-index: 1;
}

.carousel-item {
  height: 100%;
}

.navbar {
  transition: background-color 0.3s ease-in-out;
}

.navbar-transparent {
  background-color: transparent;
}

.navbar-scrolled {
  background-color: rgb(35, 55, 109);
}

.bg-img {
  background-image: url(https://static.wixstatic.com/media/128120_7f3b9fbf981448809326f69585851cb9~mv2.jpg/v1/fill/w_1225,h_913,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/128120_7f3b9fbf981448809326f69585851cb9~mv2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 400px;
}
img {
  height: auto;
}

.finalpart{
  background-color: rgb(22, 35, 63);
}

.ets{
  background-color: rgb(253, 181, 0);
  width: 234px;
  height: 303px;
}

.cb{
  background-color: rgb(125, 10, 66);
  width: 234px;
  height: 303px;
}

.dv {
  background-color: rgb(35, 55, 109);
  width: 234px;
  height: 303px;
}

.total {
  background-color: rgb(235, 114, 7);
  width: 234px;
  height: 303px;
}



.beneficiados h1 {
  font-size: 3rem;
}


.beneficiados .d-flex .text-center {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  text-align: center; 
}

.beneficiados .ets, .cb, .dv, .total {
  font-size: 2rem; 
}

.beneficiados h2 {
  font-size: 3rem; 
}

.beneficiados p {
  font-size: 1.5rem; 
}

.position-relative {
  position: relative;
}

.overlay-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 5px;
  border-radius: 5px;
  display: none;
}

.position-relative:hover .overlay-text {
  display: block;
}

.position-relative:hover img {
  filter: brightness(50%); 
}

.img-fluid {
  max-width: 100%; 
  height: auto;

}

.number{
  display: inline-flex;
  align-items: baseline;
}


.footer {
  background-color: rgb(22, 35, 63);
  padding: 40px 20px;
  border-top: 1px solid #ddd;
  color: #fff;
}
.footer img {
  max-width: 100%;
  height: auto;
}
.footer p, .footer a {
  margin: 0;
  color: #fff;
}
.footer a:hover {
  text-decoration: underline;
}
.footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.footer ul li {
  display: inline;
}
.footer ul li img {
  width: 32px;
  height: 32px;
}
.footer h1 {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 20px;
}

.partners{
margin: 0 auto;
overflow: hidden;
height: 300px;
background-color: #23376D;
}

.carousel-inner-partners {
  display: flex;
  transition: transform 0.5s ease-in-out;
  margin-top: 100px;
}

.carousel-images-partners {
  display: flex;
  gap: 10px;
}

.partners-item {
  padding-left: 50px;
}

.carousel-:hover{
  opacity: 0.5;
}

.carousel-item-partners img {
  width: 160px;
  height: 89px;
}

.carousel-control-prev-partners {
  left: 10px;
}

.carousel-control-next-partners {
  right: 10px;
}