a {
  text-decoration: none;
}

body {
  background-color: #121212;
  color: #fff;
  margin: 0;
  padding: 0;
}

.list-group-item{
  background-color: dimgrey;
  color: #fff;
}
header {
  background-color: #1db954;
}

header .nav-link {
  color: #fff;
}

header .nav-link:hover {
  color: #121212;
}

h3,
h2 {
  color: #1db954;
}
